body {
  background-color: #000;
  color: #fff;
}

header {
  position: fixed;
  left: 24px;
  top: 24px;
  z-index: 1;
  width: 100%;
}

section {
  display: grid;
  /* Set to column layout, with each of the two colums
  taking 50% [1 fraction each] of the total width */
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

section div.split {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a different bg color to the first div in the 
the sections */
section div.split:first-child {
  background: #111111;
}

section div.slides {
  width: 500px;
  height: 750px;
  position: relative;
}

section div.info {
  max-width: 480px;
}

section img {
  position: absolute;
}
